@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

* {
  font-family: 'League Gothic', sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: 0.05rem;
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background: var(--color-white);
}
::-webkit-scrollbar-thumb:horizontal {
  background: var(--color-white);
  border-radius: 10px;
}
